<mat-grid-list cols="5">
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card>
            <form>
                <mat-card-title>Se connecter</mat-card-title>
                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput name="email"  type="email" placeholder="E-Mail" required email>
                              </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input type="password" name="password"  matInput placeholder="Password" required>
                              </mat-form-field>
                        </td>
                    </tr>
                </table>
              <button mat-raised-button color="accent" type="submit">Connexion</button>
            </form>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
