
   <div class="container">
       <h1>Cavalier inscrit pour le cours <b>{{ course.title }}</b></h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Cheval attribué</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i=index;">
          <th scope="row">{{ i }}</th>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td> <span *ngIf="!getAssignedHorse(user.id)"><span>Aucun cheval assigné </span><button mat-raised-button  (click)="assign(user.id)">Assigner un cheval</button></span>
            <span *ngIf="getAssignedHorse(user.id)">{{ getAssignedHorse(user.id) }}</span>
        </td>
          <td></td>
        </tr>
      </tbody>
    </table>
   </div>
