
   <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Action</th>
        </tr>
        <tr align="center">
          <th></th>
          <th><input type="text" class="form-control" placeholder="Prénom" (keyup)="firstNameFilterChanged()" [(ngModel)]="firstnameFilter"></th>
          <th><input type="text" class="form-control" placeholder="Nom" (keyup)="lastNameFilteredChanged()" [(ngModel)]="lastnameFilter"></th>
          <th><button class="btn btn-primary" (click)="router.navigate(['/add-account'])">Créer un compte</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let superAdmin of superAdmins; let i=index;">
          <th scope="row">{{ i }}</th>
          <td>{{ superAdmin.firstname }}</td>
          <td>{{ superAdmin.lastname }}</td>
          <td><button class="btn btn-primary" (click)="popUpAlert(superAdmin.id, superAdmin.firstname, superAdmin.lastname, superAdmin.roleId)"><span *ngIf="superAdmin.roleId == 1">Désactiver</span><span *ngIf="superAdmin.roleId == 3">Activer</span></button></td>
          <td><button class="btn btn-primary" (click)="show(superAdmin.id)">Consulter</button></td>
        </tr>
      </tbody>
    </table>
   </div>

   <!--<div style="margin-top: 10%;">
      <div class="center">
        <h1>Liste des administrateurs</h1>
      </div>
      <div class="center">
        <table mat-table [dataSource]="superAdmins">

          <ng-container matColumnDef="firstname">
            <mat-form-field>
              <input type="text" matInput>
            </mat-form-field>
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <input type="text" matInput>
            <td mat-cell *matCellDef="let superAdmin"> {{superAdmin.firstname}} </td>
          </ng-container>
        
          <ng-container matColumnDef="lastname">
            
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let superAdmin"> {{superAdmin.lastname}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let superAdmin">
              <button mat-raised-button (click)="popUpAlert( superAdmin.id, superAdmin.firstname, superAdmin.lastname, superAdmin.roleId)"><span *ngIf="superAdmin.roleId == 1">Désactiver</span><span *ngIf="superAdmin.roleId == 3">Activer</span></button>
              <button mat-raised-button (click)="popUpAlert( superAdmin.id, superAdmin.firstname, superAdmin.lastname, superAdmin.roleId)">Consulter</button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
      </div>
    </div>-->
    


  