<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Centre equestre SKEMA</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/home">Accueil</a>
    <a *ngIf="!isAuth" mat-button routerLink="/login">Se connecter</a>
    <a *ngIf="!isAuth" mat-button routerLink="/signup">S'inscrire</a>
    <a *ngIf="isAuth" (click)="authService.logout()" mat-button>Se deconnecter</a>
    <a *ngIf="isAuth" mat-button routerLink="/profile">Mon profil</a>
    <a *ngIf="isAuth" mat-button routerLink="/list-admin">Liste des super admin</a>
    <a *ngIf="isAuth" mat-button routerLink="/add-horse">Ajouter un cheval</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>